asn1crypto
astropy
basemap
bleach
cffi
cryptography
cycler
cython
dbus
decorator
entrypoints
ephem
expat
fontconfig
freetype
future
geos
glib
gst-plugins-base
gstreamer
h5py
hdf5
html5lib
icu
idna
ipykernel
ipython
ipython-notebook
ipython_genutils
jbig
jedi
jinja2
jpeg
jsonschema
jupyter_client
jupyter_core
libffi
libgcc
libgfortran
libiconv
libpng
libpq
libsodium
libtiff
libxcb
libxml2
llvmlite
markupsafe
matplotlib
mistune
mkl
nbconvert
nbformat
networkx
nose
notebook
numba
numpy
olefile
openssl
packaging
pandas
pandocfilters
path.py
pcre
pexpect
pickleshare
pillow
pip
prompt_toolkit
psutil
psycopg2
ptyprocess
pycosat
pycparser
pygments
pyopenssl
pyparsing
pyqt
python
python-dateutil
pytz
pywavelets
pyyaml
pyzmq
qt
readline
requests
ruamel_yaml
scikit-image
scikit-learn
scipy
seaborn
setuptools
simplegeneric
sip
six
sqlite
terminado
testpath
tk
tornado
traitlets
wcwidth
wheel
xz
yaml
zeromq
zlib
git+https://github.com/legacysurvey/legacypipe.git#egg=legacypipe
git+https://github.com/dstndstn/tractor.git@dr5.2#egg=tractor
git+https://github.com/dstndstn/astrometry.net.git@0.72##egg=astrometry
